<ion-header>
  <ion-toolbar>
    <ion-title>schedule index</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item [routerLink]="['/schedule/' , schedule.id]" *ngFor="let schedule of schedules">
        <ion-label>
          <h2>{{schedule.name}}</h2>
          <h3>
            <span *ngIf="(schedule.rooms.length > 0)">
              <span *ngFor="let room of schedule.rooms">{{room.name}}</span>
            </span>
            <span *ngIf="schedule.rooms.length === 0">inactive</span>
          </h3>
        </ion-label>
      </ion-item>
  </ion-list>
</ion-content>
